@tailwind base;
@tailwind components;
@tailwind utilities;

/* bitter-regular - latin */
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/bitter-v32-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/bitter-v32-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* bitter-600 - latin */
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/bitter-v32-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/bitter-v32-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Alt har Bitter som font, indtil andet er defineret */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Bitter", serif;
  font-weight: 300;
}

p {
  max-width: 57ch;
}

.footer_div,
.main {
  width: 88%;
  margin: 0 auto;
}

/* Font families til elementer */
h1,
h2 {
  font-family: "futura-pt", sans-serif;
  font-weight: 300;
  font-style: light;
}

h3 {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
}

button {
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
}

select {
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
}

nav a {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#bookFutura {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.futura {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#belob {
  font-family: "futura-pt", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* Til knapper under købsprocessen, hvor der ikke skal være futura bold */
#semibold_bitter_01,
#semibold_bitter_02,
#semibold_bitter_03,
#semibold_bitter_04,
#semibold_bitter_05,
#semibold_bitter_06,
#semibold_bitter_07,
#semibold_bitter_08,
#semibold_bitter_09,
#semibold_bitter_10,
#semibold_bitter_11,
#semibold_bitter_12,
#semibold_bitter_13,
#semibold_bitter_14,
#semibold_bitter_15,
#semibold_bitter_16 {
  font-family: "Bitter", serif;
  font-weight: 600;
}

#normal_bitter {
  font-family: "Bitter", serif;
  font-weight: 300;
}
/* --------------------------^------------------------------ */
/* --------------------------^------------------------------ */

/* Animation til hover på menulinks */
nav .a_underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: #a03a00;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

nav .a_underline:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
/* --------------------------^------------------------------ */

/* Den valgte html-side har respektivt a-element med denne class for fast underline i menuen */
nav .a_chosen::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: #a03a00;
  bottom: 0;
  left: 0;
}
/* --------------------------^------------------------------ */

/* Hover til cards så tekster skiftes ud */
.hover_underline:hover {
  text-decoration: underline;
}

article .after {
  display: none;
  transition: 300ms ease-in;
}

article:hover .before {
  display: none;
  transition: 300ms ease-in;
}

article:hover .after {
  display: inline;
  transition: 300ms ease-in;
}
/* --------------------------^------------------------------ */

.zoom_on:hover {
  transform: scale(1.1);
}

/* Til at fjerne pilene i forms ved number-type */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crasher Chrome ved hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Der er åbenbart stadigvæk lidt margin, selv om det er hidden */
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
/* --------------------------^------------------------------ */

.test {
  background: none;
}
