@tailwind base;
@tailwind components;
@tailwind utilities;

/* bitter-regular - latin */
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/bitter-v32-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/bitter-v32-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* bitter-600 - latin */
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/bitter-v32-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/bitter-v32-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* futura pt-light - latin */
@font-face {
  font-family: "Futura Light";
  font-style: thin;
  font-weight: 300;
  src: local(""), url("../fonts/FuturaCyrillicLight.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* bitter-600 - latin */
@font-face {
  font-family: "Futura Book";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/FuturaCyrillicBook.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* bitter-regular - latin */
@font-face {
  font-family: "Futura Medium";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/FuturaCyrillicMedium.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  font-size: 17px;
}

body {
  font-family: "Bitter", serif;
}

p {
  font-family: "Futura Book", sans-serif;
}

.footer_div,
main {
  width: 88%;
}

.hover_underline:hover {
  text-decoration: underline;
}
